// https://pro.ant.design/docs/dynamic-theme/
html {
  --ant-primary-color: #46A3A5;
  --ant-primary-color-hover: #4bb2b4;
  --ant-primary-color-active: #46A3A5;
  --ant-primary-color-outline: rgba(70, 163, 165, 0.2);

  --ant-primary-1: #f2fefe;
  --ant-primary-2: #daf0f1;
  --ant-primary-3: #afddde;
  --ant-primary-4: #87d1d2;
  --ant-primary-5: #68babb;
  --ant-primary-6: #46A3A5;
  --ant-primary-7: #2c7f81;
}
